<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Halloween_Kid_1_run_32x32_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,193},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,193},{32,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,227},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,1},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,33},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,33},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,65},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,65},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,33},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,227},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,97},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,261},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,97},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,261},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,295},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,129},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,129},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,161},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,161},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,129},{30,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{55,295},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,329},{32,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Halloween_Kid_1_run_32x32_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{57,329},{32,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloweenkid.png</string>
            <key>size</key>
            <string>{110,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360aafc575e3d9085be3faa71d10218a:9639cc104d0fa0485a535289456a595e:85834fd86b66315692b966f4ed6a47cf$</string>
            <key>textureFileName</key>
            <string>halloweenkid.png</string>
        </dict>
    </dict>
</plist>
