<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Halloween_Kid_1_idle_32x32-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Halloween_Kid_1_idle_32x32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,52},{30,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Halloween_Kid_1_idle_32x32-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,104},{30,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Halloween_Kid_1_idle_32x32-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{30,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,156},{30,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HalloweenKid_idle.png</string>
            <key>size</key>
            <string>{30,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:871a4245aaf07c140a27e1f62a78ed9d:5a4c95fba406759b5f772cf77fc2f27f:ff95b651887f489e5f68934f2a4977b5$</string>
            <key>textureFileName</key>
            <string>HalloweenKid_idle.png</string>
        </dict>
    </dict>
</plist>
