<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Doctor_2_idle_32x32-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Doctor_2_idle_32x32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{30,0},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Doctor_2_idle_32x32-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{30,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{62,0},{30,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Doctor_2_idle_32x32-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{92,0},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Doctor_idle.png</string>
            <key>size</key>
            <string>{124,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ae798c02c3da389949f97e4f0c20b4:90e5fd9c70babb8d3c5a7387b68808a4:7608a0e00a2a1ffb8277da3e26e9f120$</string>
            <key>textureFileName</key>
            <string>Doctor_idle.png</string>
        </dict>
    </dict>
</plist>
