<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_Grocery_store_Shadowless_32x32-172.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{139,1},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-173.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{147,25},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{159,1},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-175.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{167,25},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{91,1},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{99,33},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{115,1},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{123,33},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{147,49},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{169,49},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{179,1},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{187,23},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-380.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{31,1},{32,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-381.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-382.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,35},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-395.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{35,35},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-396.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{59,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_Grocery_store_Shadowless_32x32-397.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{67,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goods.png</string>
            <key>size</key>
            <string>{202,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c14cbac7ca4e75009faf915dc1dd6d:a5ddccda227ed6e8638f7c36f6a1199d:38d9ec3b7271396a81cfe9250157b3b3$</string>
            <key>textureFileName</key>
            <string>goods.png</string>
        </dict>
    </dict>
</plist>
