<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bouncer_idle_32x32-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{69,1},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bouncer_idle_32x32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bouncer_idle_32x32-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{28,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{99,1},{28,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bouncer_idle_32x32-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bouncer_idle.png</string>
            <key>size</key>
            <string>{128,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d299ce0e27775fa54f7dfaa9581dcc:3adae59ab76631ba4c0cc074de8731c1:3332401468c1e1a45853283677f548b2$</string>
            <key>textureFileName</key>
            <string>Bouncer_idle.png</string>
        </dict>
    </dict>
</plist>
