<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Prisoner_3_idle_32x32_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{69,1},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Prisoner_3_idle_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Prisoner_3_idle_32x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{69,33},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Prisoner_3_idle_32x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gangster_idle.png</string>
            <key>size</key>
            <string>{120,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27bcc030cd21e5ae0db5f728d12350c4:b008c22ec962346370d96af45be19e1c:c016b3a7d80abedcd54bbd60015b6c35$</string>
            <key>textureFileName</key>
            <string>gangster_idle.png</string>
        </dict>
    </dict>
</plist>
