<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Old_woman_Jenny_idle_32x32-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old_woman_Jenny_idle_32x32-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old_woman_Jenny_idle_32x32-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{69,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Old_woman_Jenny_idle_32x32-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{103,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Old_woman_idle.png</string>
            <key>size</key>
            <string>{136,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3fd541b8df66d46ada7b254b8633a4:abaa129b170a3f479f5cffd0a0f323bf:db0f08aeace14648add60c3bd5453801$</string>
            <key>textureFileName</key>
            <string>Old_woman_idle.png</string>
        </dict>
    </dict>
</plist>
