<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Old_woman_Jenny_run_32x32_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,35},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{51,35},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,69},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,69},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,103},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,103},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,137},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,103},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,137},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,171},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,171},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,205},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,205},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,239},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,239},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,273},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,273},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,307},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,273},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{49,307},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,341},{32,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Old_woman_Jenny_run_32x32_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{51,341},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>oldwoman.png</string>
            <key>size</key>
            <string>{98,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c5e25e634b13fc20b9daea43823d74:043b39e771a9fd35187cb0a861dce945:9d5b85d84fc70fdb8df000215c432e88$</string>
            <key>textureFileName</key>
            <string>oldwoman.png</string>
        </dict>
    </dict>
</plist>
