<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nurse_2_idle_32x32_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nurse_2_idle_32x32_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nurse_2_idle_32x32_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{69,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nurse_2_idle_32x32_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{103,1},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nurse_idle.png</string>
            <key>size</key>
            <string>{136,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd43b105ccf283b27e57353bfca1a70:10f77aac66266b66190878af587741fe:6874dfacff5478b2692e458754f3e2f9$</string>
            <key>textureFileName</key>
            <string>nurse_idle.png</string>
        </dict>
    </dict>
</plist>
